body{
    background-image: url("https://e0.pxfuel.com/wallpapers/685/690/desktop-wallpaper-back-to-school-stationery-and-tech-back-to-school-office-stationery-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}