body{
    background-image: url("home/i3.png"),url("home/i1.jpg");
    background-repeat: no-repeat , no-repeat,no-repeat;
    background-size:300px , 100% 99%;
    background-position: center , 0px 0px ;
}

.box{
      width: 800px;
      height: 380px;
      margin: 150px auto;
      color: #000;
      background-color: grey;
      border: 5px dashed black;
      border-radius: 20px;
      opacity: 80%;
}

.box h1 ,p{
    margin: 20px 40px;
    float:left;
    font-size: 20px;
    color: white;
    text-align: justify;
    
}